# Created by .ignore support plugin (hsz.mobi)
.idea/
build/
src/main/resources/application-dev.properties
*.iml
/classes
/.gradle/
/atlassian-ide-plugin.xml
src/main/webapp/packages
src/main/webapp/node_modules
test-output/
target/
logs/
project/project
project/target
tmp/
.history
dist/
/out
/.idea_modules/
/.classpath
/.project
/RUNNING_PID
/.settings
.sass-cache
conf/dev.conf
conf/test.conf
/*.log
/work