  <div class="row">
    <div class="col-sm-3">

      <div class="leftComboBox">

        <form class="form-inline well well-sm">

          <span class="glyphicon glyphicon-search"></span>

          <br><span>Nome do Usuário: </span><br>
          <input name="nome" type="text" class="form-control" [(ngModel)]="filtro.userName" placeholder="Nome do Usuário">

          <br><span>Ação: </span><br>
          <input name="acao" type="text" class="form-control" [(ngModel)]="filtro.action" placeholder="Ação">

          <br><span>Id: </span><br>
          <input name="id" type="text" class="form-control" [(ngModel)]="filtro.id" placeholder="ID do Log">

          <br><span>Data Início: </span><br>
          <p-calendar name="dataInicio" dateFormat="dd.mm.yy" [(ngModel)]="dateStart" [maxDate]="dateEnd" [showTime]="true" [showIcon]="true"></p-calendar>


          <br><span>Data Fim: </span><br>
          <p-calendar name="dataFim" dateFormat="dd.mm.yy" [(ngModel)]="dateEnd" [minDate]="dateStart" [showTime]="true" [showIcon]="true"></p-calendar>

          <br><span>Ip: </span><br>
          <input name="ip" type="text" class="input form-control primary-border" [(ngModel)]="filtro.ip" placeholder="IP">

          <br>Criticidade
          <br><select name="securitySevel" class="form-control"
                          [(ngModel)]="filtro.securityLevel">

          <option value="">---Criticidade---</option> <!-- not selected / blank option -->
          <option *ngFor="let crit  of criticidades" value="{{crit}}"> {{crit}}</option>

          </select>

          <br>Aplicação
          <br><select name="applicationName" class="form-control"
                  [(ngModel)]="filtro.applicationName">

            <option value="" selected>---Aplicação---</option> <!-- not selected / blank option -->
            <option *ngFor="let aplic  of aplicacoes" value="{{aplic}}" > {{aplic}}</option>

          </select>

          <br>Resource Types
          <br><select name="resourceTypes" class="form-control"
                      [(ngModel)]="filtro.resourceType">

          <option value="" selected>---Resource Types---</option> <!-- not selected / blank option -->
          <option *ngFor="let retp  of resourcesTypes" value="{{retp}}"> {{retp}}</option>

        </select>

          <br><br>
          <button
            (click)="(dateStart != undefined && dateEnd != undefined) ? searchIncludeDate() : searchWithoutDate()"
            id="buttonPesquisar"
            class="btn btn-primary btn-sm btn-block"> Pesquisar
          </button>

          <!--<br> <datepicker />-->

        </form>

      </div>
    </div>

    <div class="container">
      <div class="table-responsive tablescroll">
        <table class="table table-hover table-condensed" id="tableMain">

          <tr>
            <th> ID
              <span class="glyphicon glyphicon-menu-up"></span>
              <span class="glyphicon glyphicon-menu-down"></span></th>
            <th> Aplicação</th>
            <th> Usuário</th>
            <th> Ação</th>
            <th> ResourceType</th>
            <th> ResourceId</th>
            <th> Data e Hora</th>
            <th> IP</th>
            <th> Criticidade</th>
          </tr>


          <tr *ngFor="let auditevent of eventos"
              [style.background-color]="auditevent.id == logSelecionado.id ? 'lightgray' : ''"
              (click)="clickTable(auditevent)"
              data-toggle="modal" data-target="#myModal">
            <td> {{ auditevent.id }}</td>
            <td> {{ auditevent.applicationName }}</td>
            <td> {{ auditevent.userName }}</td>
            <td> {{ auditevent.action }}</td>
            <td> {{ auditevent.resource.resourceType }}</td>
            <td> {{ auditevent.resource.resourceId }}</td>
            <td> {{ auditevent.dateTime[2] + '/' + auditevent.dateTime[1] + '/' + auditevent.dateTime[0] + ' ' +
              auditevent.dateTime[3] + ':' + auditevent.dateTime[4] + ':' + auditevent.dateTime[5]}}
            </td>
            <td> {{ auditevent.ip }}</td>
            <td> {{ auditevent.securityLevel }}</td>

          </tr>

          <tr [hidden]="eventos.length == 0 ">
            <td colspan="9">
              <div class="alert alert-info">
                <p class="text-center">
                  Nenhum resultado encontrado
                </p>
              </div>
            </td>
          </tr>

        </table>
      </div>

    </div>


    <!-- Modal Erro na Data -->
    <div class="modal fade" id="myModal2" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Erro na data!</h4>
          </div>
          <div class="modal-body">
            Data inicial tem que ser menor ou igual a data final.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal Descrição -->
    <div id="details">
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
           aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"
                      aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Detalhes</h4>
            </div>
            <div class="modal-body">
              <table class="table display">
                <thead>
                <tr>
                  <th> ID</th>
                  <th> Aplicação</th>
                  <th> Usuário</th>
                  <th> Ação</th>
                  <th> Resource Type</th>
                  <th> Resource Id</th>
                  <th> Data e Hora</th>
                  <th> IP</th>
                  <th> Criticidade</th>
                </tr>

                </thead>
                <tbody>
                <tr>
                  <td> {{ logSelecionado.id }}</td>
                  <td> {{ logSelecionado.applicationName }}</td>
                  <td> {{ logSelecionado.userName }}</td>
                  <td> {{ logSelecionado.action }}</td>
                  <td> {{ logSelecionado.resource.resourceType }}</td>
                  <td> {{ logSelecionado.resource.resourceId }}</td>
                  <td> {{ logSelecionado.dateTime[2] + '/' + logSelecionado.dateTime[1] + '/' +
                    logSelecionado.dateTime[0] + ' ' + logSelecionado.dateTime[3] + ':' + logSelecionado.dateTime[4] +
                    ':' + logSelecionado.dateTime[5]}}
                  </td>
                  <td> {{ logSelecionado.ip }}</td>
                  <td> {{ logSelecionado.securityLevel }}</td>

                </tr>
                </tbody>
                <th> Descrição</th>
                <td> {{ logSelecionado.description}}</td>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<!--
<p>
  Um usuário com acesso ao sistema deve ser capaz de ver logs de auditoria.
  O log deve possuir informações como:
  Aplicação que gerou o log
  Usuário que executou a ação
  Ação
  Data e Hora
  IP de localização da máquina cliente
  Criticidade - Indica o grau de criticidade da ação. Se baixo, normal ou alto. Logs com criticidade alta possuem um grau de sensibilidade maior, por exemplo: A ação de troca de senha de um usuário pode ter sensibilidade baixa, a ação de deletar multiplos usuários pode ter sensibilidade alta. Quem define isso é a aplicação.
  Deve ser possível filtrar e pesquisar por qualquer uma das informações de log
  Deve ser possível estender as informações de log, adicionando colunas sem que seja necessário programar nova versão do visualizador
  Aplicação - Usuário - Ação - Data e Hora - IP - Criticidade
  FILTRO PARA TODOS
</p>
-->
