spring.datasource.username=giovanni
spring.datasource.password=1234
spring.datasource.jdbc-url=jdbc:postgresql://localhost/audit
spring.datasource.maximumPoolSize=5
spring.datasource.connection-timeout=5000
keycloak.configurationFile=classpath:/keycloak-dev.json