<p>
  Um usuário com acesso ao sistema deve ser capaz de ver logs de auditoria.
  O log deve possuir informações como:
  Aplicação que gerou o log
  Usuário que executou a ação
  Ação
  Data e Hora
  IP de localização da máquina cliente
  Criticidade - Indica o grau de criticidade da ação. Se baixo, normal ou alto. Logs com criticidade alta possuem um grau de sensibilidade maior, por exemplo: A ação de troca de senha de um usuário pode ter sensibilidade baixa, a ação de deletar multiplos usuários pode ter sensibilidade alta. Quem define isso é a aplicação.
  Deve ser possível filtrar e pesquisar por qualquer uma das informações de log
  Deve ser possível estender as informações de log, adicionando colunas sem que seja necessário programar nova versão do visualizador
</p>
