<div ng-controller="VisualizarCtrl">

  <div class="row">
    <div class="col-sm-1">

      <div class="leftComboBox">

        <form class="form-inline well well-sm">

          <span class="glyphicon glyphicon-search"></span>
          <!--<div class="form-group">-->
          <!--<input type="text"-->
          <!--class="form-control"-->
          <!--id="name"-->
          <!--ng-model="pesquisa"-->
          <!--placeholder="Pesquisar ..."-->
          <!--/>-->
          <!--</div>-->

            <br><span>Nome</span>
            <input type="text" class="input form-control primary-border" ng-model="userName">

            <br><span >Ação</span>
            <input type="text" class="input form-control primary-border" ng-model="action">

            <br><span >Id</span>
            <input type="text" class="input form-control primary-border" ng-model="id">

            <br><span class="input-group-addon date-picker-primary">Data Início</span>
            <input type="date" class="input form-control primary-border" ng-model="dateStart">

            <br><span class="input-group-addon date-picker-primary">Data Fim</span>
            <input type="date" class="input form-control primary-border" ng-model="dateEnd">

            <br><span class="input-group-addon">Hora Início</span>
            <input type="time" class="input form-control primary-border" ng-model="timeStart">

            <br><span class="input-group-addon date-picker-primary">Hora Fim</span>
            <input type="time" class="input form-control primary-border" ng-model="timeEnd">

            <br><span >Ip</span>
            <input type="text" class="input form-control primary-border" ng-model="ip">


          <br><select class="form-control"
                      ng-model="filtro.securityLevel">

          <option value="" selected>---Criticidade---</option> <!-- not selected / blank option -->
          <option ng-repeat="crit  in criticidades" value="{{crit}}"> {{crit}}</option>

        </select>

          <select data-ng-init="loadApplications()" class="form-control"
                  ng-model="filtro.applicationName">

            <option value="" selected>---Aplicação---</option> <!-- not selected / blank option -->
            <option ng-repeat="aplic  in aplicacoes" value="{{aplic}}"> {{aplic}}</option>

          </select>

          <button ng-click="popular()"> Popular</button>
          <!--</div>-->
        </form>

      </div>
    </div>

    <div class="container">

      <table class="table table-condensed">

        <tr>
          <th> #</th>
          <th> Aplicação</th>
          <th> Usuário</th>
          <th> Ação</th>
          <th> ResourceType</th>
          <th> ID</th>
          <th> Data e Hora</th>
          <th> IP</th>
          <th> Criticidade</th>

        </tr>

        <tr ng-repeat="auditevent in eventos"
            ng-style="{
				 'background-color': $index == indexSelecionado ? 'lightgray' : ''
				 }"
            ng-click="clickTable(auditevent)"
            data-toggle="modal" data-target="#myModal">
          <td> {{ $index }}</td>
          <td> {{ auditevent.applicationName }}</td>
          <td> {{ auditevent.userName }}</td>
          <td> {{ auditevent.action }}</td>
          <td> {{ auditevent.resource.resourceType }}</td>
          <td> {{ auditevent.id }}</td>
          <td> {{ auditevent.dateTime }}</td>
          <td> {{ auditevent.ip }}</td>
          <td> {{ auditevent.securityLevel }}</td>

        </tr>


        <tr ng-show="logsFiltrados.length == 0 ">
          <td colspan="8">
            <div class="alert alert-info">
              <p class="text-center">
                Nenhum resultado encontrado.
              </p>
            </div>
          </td>
        </tr>


      </table>
    </div>


    <div id="details">
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
           aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"
                      aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Detalhes</h4>
            </div>
            <div class="modal-body">
              <table class="table display">
                <thead>
                <tr>
                  <th> Aplicação</th>
                  <th> Usuário</th>
                  <th> Ação</th>
                  <th> ID</th>
                  <th> Data e Hora</th>
                  <th> IP</th>
                  <th> Criticidade</th>
                </tr>

                </thead>
                <tbody>
                <tr>

                  <td> {{ logSelecionado.applicationName }}</td>
                  <td> {{ logSelecionado.userName }}</td>
                  <td> {{ logSelecionado.action }}</td>
                  <td> {{ logSelecionado.id }}</td>
                  <td> {{ logSelecionado.dateTime }}</td>
                  <td> {{ logSelecionado.ip }}</td>
                  <td> {{ logSelecionado.securityLevel }}</td>

                </tr>
                </tbody>
                <th> Descrição</th>
                <td> {{ logSelecionado.description}}</td>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div data-ng-init="popular()">
      <td>{{ResponseDetails.value}}</td>
    </div>
  </div>

</div>


<!--
<p>
  Um usuário com acesso ao sistema deve ser capaz de ver logs de auditoria.
  O log deve possuir informações como:
  Aplicação que gerou o log
  Usuário que executou a ação
  Ação
  Data e Hora
  IP de localização da máquina cliente
  Criticidade - Indica o grau de criticidade da ação. Se baixo, normal ou alto. Logs com criticidade alta possuem um grau de sensibilidade maior, por exemplo: A ação de troca de senha de um usuário pode ter sensibilidade baixa, a ação de deletar multiplos usuários pode ter sensibilidade alta. Quem define isso é a aplicação.
  Deve ser possível filtrar e pesquisar por qualquer uma das informações de log
  Deve ser possível estender as informações de log, adicionando colunas sem que seja necessário programar nova versão do visualizador

  Aplicação - Usuário - Ação - Data e Hora - IP - Criticidade
  FILTRO PARA TODOS

</p>
-->
